@use "theme";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

body {
  font-family: var(--font-open-sans);
}

.page {
  margin: 10px 20px 0;
}

.loader {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 5px solid theme.$color-primary;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}